.save-box
  padding-right 40px
  .save-item
    list-style none
.save-item
  a
    color #0000ff
    text-decoration underline
  .save-option
    display none
  &.active
    background #edeffe
    .save-option
      display block
.save-option
  list-style none
  padding 0
  .save-option-item
    display inline-block
    vertical-align middle
.save-option-item
  a
    font-size 12px
    color #0000ff
    text-decoration underline
.filter-box
  padding-right 40px
  .filter-item
    list-style none
.filter-item
  a
    text-decoration underline
    color #0000ff
  &.active
    a
      text-decoration none
      color #000000
