div.save-box
    h3  Busquedas guardadas
    ul#saveList.save-list
        li(class='save-item active')
            a(href='javascript:void(0)') terror puro
                ul.save-option
                    li.save-option-item
                        a(href='javascript:void(0)' class='save-edit') Editar
                    li.save-option-item
                        a(href='javascript:void(0)' class='save-delete') Eliminar
        li.save-item
            a(href='javascript:void(0)') search drama
                ul.save-option
                    li.save-option-item
                        a(href='javascript:void(0)' class='save-edit') Editar
                    li.save-option-item
                        a(href='javascript:void(0)' class='save-delete') Eliminar
        li.save-item
            a(href='javascript:void(0)') comedias en ingles
                ul.save-option
                    li.save-option-item
                        a(href='javascript:void(0)' class='save-edit') Editar
                    li.save-option-item
                        a(href='javascript:void(0)' class='save-delete') Eliminar

div.filter-box
    h3 Categorías
    ul#categories.filter-list
        li(class='filter-item active')
            a(href='javascript:void(0)') Todos
        li.filter-item
            a(href='javascript:void(0)') Terror
        li.filter-item
            a(href='javascript:void(0)') Comedia
        li.filter-item
            a(href='javascript:void(0)') Drama
div.filter-box
    h3 Idioma
    ul#lang.filter-list
        li(class='filter-item active')
            a(href='javascript:void(0)') Todos
        li.filter-item
            a(href='javascript:void(0)') Inglés
        li.filter-item
            a(href='javascript:void(0)') Español
        li.filter-item
            a(href='javascript:void(0)') Portugués
div.filter-box
    h3 Publicacion
    ul#date.filter-list
        li(class='filter-item active')
            a(href='javascript:void(0)') Todos
        li.filter-item
            a(href='javascript:void(0)') Hoy
        li.filter-item
            a(href='javascript:void(0)') Hace una semana
        li.filter-item
            a(href='javascript:void(0)') Hace un mes
        li.filter-item
            a(href='javascript:void(0)') Hace un año
div.filter-box
    h3 Presentación
    ul#edition.filter-list
        li.filter-item
            a(href='javascript:void(0)') Impreso
        li.filter-item
            a(href='javascript:void(0)') Digital
        li(class='filter-item active')
            a(href='javascript:void(0)') Impreso y digital